.visualshortcodes{
  border: 1px dashed #ddd;
  background: #f8f8f8;
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  border-radius: 0.333em;
  padding: 0 0 12px 0;
  margin: 15px 0 0 0;
}
.visualshortcodes .border-style > h3 {
  font-size: 1.1em;
  margin: 0 0 9px 0;
  overflow: hidden;
  background: rgb(212, 211, 211);
  color: #383838;
  font-weight: normal;
  padding: 5px 10px;
  position: relative;
}
.visualshortcodes h3:hover {
  cursor: move;
  background: #858585;
  border-color: #858585;
}
.visualshortcodes .fa-cog{
  float: right;
}
.visualshortcodes .fa-cog:hover{
  cursor: pointer;
}
.ui-dialog .ui-dialog-content {
  overflow-x: hidden;
}
.fa-cog:hover{
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.centered,
.numeric-select option{
  text-align: center;
}
.numeric-select{
  width: 69px !important;
  margin: 0 auto !important;
  padding-right: 0px !important;
}
.spacer{
  margin: 10px 0;
}
.eye-icons{
  position: absolute;
  margin-left: 13px;
}
.eye-icons i{
  display: block;
  margin-top: 7px;
}
.form-group{
  margin-bottom: 0;
}
input[type="radio"], input[type="checkbox"] {
 margin-top: 0;
 top: 0;
}
#visualshortcodes-shortcode-settings .form-item {
  padding: 4px 0;
  margin: 0 0 4px;
}

/* UI Dialog */
.ui-dialog {
  border-radius: 7px;
  border: none;
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
  background: #A5A5A5;
  padding: 0.5em 1em .6em !important;
}

/* Toggle Show Rows in settings form */
.expandable h4{
  cursor: pointer;
}
.expandable .row{
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  overflow: hidden;
}
.expanded .row{
  height: auto;
  opacity: 1;
}
.expandable h4:after{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-left: 10px;
  content: "\f149";
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  position: absolute;
}
.expandable h4{
  padding: 6px 0 0;
}
.expanded h4{
  padding: 6px 0;
}
.expandable h4:hover:after{
  font-size: 18px;
  margin-top: 4px;
}
.expanded h4:after{
  content: "\f148";
}

/* Paddings */
.paddings .form-control{
  width: auto;
}
.centered input{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Prefix Suffix */
.prefix_suffix textarea.form-control{
  height: 35px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.prefix_suffix textarea:focus{
  height: 150px;
}

/* Row settings tabs */
.settings-tabs{
  margin: 8px 0;
}
.settings-tabs a{
  display: inline-block;
  margin: 4px 0 10px 4px;
}
.settings-tab-form{
  display: none;
}
.device-icons-wrap{
  margin-bottom: 10px;
}

/* Visual Shortcodes */
.visualshortcodes_links_wrap .fa-spin{
  display: none;
}
.visualshortcodes_links_wrap > .btn{
  margin-right: 15px;
}
.shortcode-processed{
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  border-radius: 0.333em;
  margin: 9px 10px !important;
  list-style: none;
}
li.shortcode-processed{
  margin: auto !important;;
}
.visualshortcodes-parent{
  margin: 0 0 15px !important;
  list-style: none;
}
ol.visualshortcodes-parent{
  padding: 0 !important;
}
.visualshortcodes{
  margin: 4px 0 0 0 !important;
  padding: 20px 0;
  position: relative;
} 
.border-style{
  border: 1px dashed #999;
}
h3:hover > .visualshortcodes-settings-links{
  box-shadow: 0 0 10px 10px #858585;  
}
h3:hover > .visualshortcodes-settings-links,
.visualshortcodes:hover .visualshortcodes-main-add{
  display: block;
}
.visualshortcodes .visualshortcodes-main-add{
  background: none;
  box-shadow: none;
  right: -7px;
  top: -1px;
}
.bottom-links{
  top: auto !important;
  bottom: 0;
}
.row-placeholder{
  border: 1px dashed #000;
  min-height: 20px;
  margin: 2px 10px;
}
h3 .fa-arrows{
  padding-right: 10px;
  font-size: 12px;
  color: #000;
}
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.visualshortcodes li.placeholder {
  border: 1px dashed #000;
  min-height: 20px;
  margin: 2px 10px;
  list-style: none;
}
.visualshortcodes_links_wrap ol.visualshortcodes-parent{
  margin-left: 0;
}
.visualshortcodes-main-add{
  margin: 6px 19px 0px 0;
}
.grippie{
  display: none;
}

/* Add Shortcode Form */
.visualshortcodes_enabled_list_search,
.visualshortcodes_enabled_list button{
  margin-bottom: 10px;
}
.row.visualshortcodes-parent > li{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.border-style > h3{
  margin-bottom: 15px;
}
.border-none > h3{
  margin-bottom: 9px;
}
.border-none{
  border: none;
}
.row.shortcode-processed .col-xs-12,
.row.shortcode-processed .col-xs-12 > ol,
.shortcode-processed{
  position: static;
}
.preview-image{
  float: left;
}
.vertical-tabs .form-control{
  width: 100% !important;
}
html.js input.form-autocomplete.form-control {
  background-position: 100% 12px;
}
html.js input.throbbing.form-control {
  background-position: 100% -12px;
}

/* Color Radios */
.color-radios input[type="radio"] {
  display:none;
}
.color-radios .form-item{
  display: inline-block;
}
.color-radios label {
  display: inline-block !important;
  width: 32px;
  height: 32px;
  border: 2px solid transparent !important;
  text-indent: -9999px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.color-radios input[type="radio"]:checked{
  height: 30px;
  display: block;
}
.color-radios input[type="radio"]:checked + label {
  border: 2px solid #3d3d3d !important;
}
[for=edit-color-default-testimonial],
#edit-color-default-testimonial + label{
  background-color: #a5e573;
}
[for=edit-color-grey],
#edit-color-grey + label{
  background-color: #555;
}
[for=edit-color-btn-info],
[for=edit-color-panel-info],
[for=edit-color-blue],
[for=edit-color-alert-info],
[for=edit-color-info],
#edit-color-btn-info + label,
#edit-color-panel-info + label,
#edit-color-blue + label,
#edit-color-alert-info + label,
#edit-color-info + label{
  background: #17a2b8;
}
[for=edit-color-btn-success],
[for=edit-color-panel-success],
[for=edit-color-green],
[for=edit-color-alert-success],
[for=edit-color-success],
#edit-color-btn-success + label,
#edit-color-panel-success + label,
#edit-color-green + label,
#edit-color-alert-success + label,
#edit-color-success + label{
  background: #28a745;
}
[for=edit-color-btn-warning],
[for=edit-color-orange],
[for=edit-color-panel-warning],
[for=edit-color-alert-warning],
[for=edit-color-warning],
#edit-color-btn-warning + label,
#edit-color-orange + label,
#edit-color-panel-warning + label,
#edit-color-alert-warning + label,
#edit-color-warning + label{
  background: #ffc107;
}
[for=edit-color-red],
[for=edit-color-error],
#edit-color-red + label,
#edit-color-error + label{
  background: #dc3545;
}

[for=edit-color-alert-danger],
[for=edit-color-btn-danger],
[for=edit-color-panel-danger],
#edit-color-btn-danger + label,
#edit-color-panel-danger + label,
#edit-color-alert-danger + label{
  background: #dc3545;
}
[for=edit-color-btn-primary],
[for=edit-color-panel-primary],
[for=edit-color-dark-blue],
[for=edit-color-primary],
#edit-color-btn-primary + label,
#edit-color-panel-primary + label,
#edit-color-primary + label{
  background: #007bff;
}
[for=edit-color-btn-inverse],
[for=edit-color-panel-default],
[for=edit-color-default],
#edit-color-btn-inverse + label,
#edit-color-panel-default + label,
#edit-color-default + label {
  background: #ccc;
  background: rgba(30,30,30,.3);
}
[for=edit-color-black],
[for=edit-color-alert-black],
#edit-color-black + label,
#edit-color-alert-black + label{
  background: #1e1e1e;
}

/* ColorPicker */
.ui-colorpicker{
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
.ui-colorpicker-hex label{
  display: inline-block;
}

/* Overlay */
.visualshortcodes-overlay{
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .70;
  filter: Alpha(Opacity=70);
}
.visualshortcodes-overlay i{
  color: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 18px;
}

/* Live Preview adds */
.live-preview .border-style{
  border: none;
}
.live-preview .border-style > h3,
.visualshortcodes.live-preview .node > h2,
.visualshortcodes.live-preview .node > .contextual-links-wrapper{
  display: none;
}
.visualshortcodes:hover .border-style > h3,
.active_layout h3{
  display: block !important;
}
.visualshortcodes:hover .border-style,
.active_layout .border-style{
  border: 1px dashed #999;
}
.border-none,
.visualshortcodes:hover .border-none{
  border: none !important;
}
.backend_preview img{
  max-width: 100%;
}
.visualshortcodes .border-none > h3 {
  margin-bottom: 0 !important;
}

/* Line */
hr.dotted {
  border-style: dotted;
  border-top-width: 1px;
}
hr.dashed {
  border-style: dashed;
  border-top-width: 1px;
}
hr.double {
  border-style: double;
  border-top-width: 3px;
}
hr.shadow {
  border: 0 none;
  margin-bottom: 30px;
  overflow: hidden;
  padding-top: 10px;
  position: relative;
}
hr.shadow:after {
  bottom: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  content: "";
  height: 20px;
  left: 5%;
  position: absolute;
  right: 5%;
  z-index: -1;
}
hr.no-line {
  border: 0 none;
  height: 1px;
}
hr.margin-bottom {
  margin-top: 0;
}
hr.margin-top {
  margin-bottom: 0;
}

/* Icons */
.icon {
  background: none;
  display: inline-block;
  margin: 0 0 4px 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.icon.pull-left {
  float: left;
  margin-right: 10px;
}

.icon.pull-right {
  float: right;
  margin-left: 10px;
}

.icon.icon-24 {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.icon.icon-40 {
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}

.icon.icon-60 {
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.icon.icon-100 {
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  width: 100px;
}

.icon .fa {
  width: 100%;
}

.icon.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icon.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.icon.border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
}

/* livicon */
.livicon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}

.livicon svg {
  vertical-align: top;
}

.big-icon .livicon svg,
.icon .livicon svg {
  top: 25% !important;
}

.livicon.metro-bg {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 4px;
  padding: 26px 25px 26px 27px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.livicon.block {
  width: auto !important;
  height: auto !important;
}

/* Progress */
.progress {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 40px;
}

.progress-bar {
  font-size: 14px;
  background: #1e1e1e;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 40px;
  text-align: left;
  text-indent: 10px;
  text-shadow: none;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.progress-bar-primary {
  background-color: #037ac5;
}
.progress-bar-info {
  background-color: #17a2b8;
}

.progress-bar-success {
  background-color: #28a745;
}

.progress-bar-warning {
  background-color: #ffc107;
}

.progress-bar-danger {
  background-color: #f2dede;
}

.progress.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.progress[data-appear-progress-animation] .progress-bar {
  text-indent: -100%;
}

.progress.hover .progress-bar:hover {
  background: #1e1e1e;
}

.progress.hover .progress-bar-primary:hover {
  background: #037ac5;
}

.progress.hover .progress-bar-info:hover {
  background: #17a2b8;
}

.progress.hover .progress-bar-success:hover {
  background: #28a745;
}

.progress.hover .progress-bar-warning:hover {
  background: #ffc107;
}

.progress.hover .progress-bar-danger:hover {
  background: #dc3545;
}

.progress-circular {
  position: relative;
  text-align: center;
}

.progress-circular > div {
  display: inline-block;
  vertical-align: top;
}

.progress-circular input.knob {
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #7f7f7f;
  font-size: 0;
  font-style: italic;
  font-weight: normal !important;
}

.backend_preview .progress-circular{
  width: 150px;
  min-height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
}
.backend_preview .progress-circular :after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #17a2b8;
  position: absolute;
  top: 0;
  left: 0;
}
.backend_preview .progress-bar-warning:after{
  border-color: #ffc107;
}
.backend_preview .progress-bar-danger:after{
  border-color: #dc3545;
}
.backend_preview .progress-bar-success:after{
  border-color: #28a745;
}
.backend_preview .progress-bar-info:after{
  border-color: #17a2b8;
}
.backend_preview .progress-bar-primary:after{
  border-color: #037ac5;
}
.backend_preview .progress-circular .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
/* bloc configuration*/
.backend_preview .contextual-links-wrapper .ul{
  display: none;
}
.backend_preview .contextual-links-wrapper:hover > .ul{
  display: block;
}
/* Features */
.features-block .header-box {
  display: block;
  min-height: 30px;
  margin: 0 0 13px;
  overflow: hidden;
}

.features-block .header-box .icon-box {
  background: none;
  color: #1e1e1e;
  float: left;
  height: 30px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 24px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.features-block .header-box a.icon-box:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.features-block .header-box .icon-box i:before {
  font-size: 20px;
  line-height: 30px;
}

.features-block .header-box h6 {
  margin: 6px 0 0;
  font-size: 16px;
}

/* Service Box */
.big-services-box a {
  color: #fff;
}

.service,
.features-block {
  margin-bottom: 40px;
}

.text-small.features-block a:not(.btn) {
  display: block;
}

.service .icon {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: #1e1e1e;
  display: block;
  height: 70px;
  float: left;
  margin: 0 30px 0 0;
  text-align: center;
  text-decoration: none;
  width: 70px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.service .icon:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.service .icon i:before {
  font-size: 30px;
  line-height: 70px;
}

.service .title {
  margin: 2px 0 17px;
}

.service a:not(.btn),
.big-services-box a:not(.btn),
.features-block a:not(.btn) {
  color: #1e1e1e;
  display: inline-block;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.service a:hover,
.big-services-box a:hover,
.features-block a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.white .service a,
.white .big-services-box a {
  color: #fff;
}

.service .text-small {
  overflow: hidden;
}

.big-services-box {
  margin-bottom: 40px;
  text-align: center;
}

.big-icon,
.big-icon:visited {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #1e1e1e;
  display: block;
  height: 100px;
  margin: 0 auto 20px;
  text-align: center;
  width: 100px;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.big-icon i:before {
  font-size: 50px;
  line-height: 100px;
}

a.big-icon:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.big-icon.pull-left {
  margin: 0 20px 20px 0;
}

.features-block .header-box .icon-box,
.big-services-box .big-icon,
.service .icon {
  color: #dc3545;
}

.big-services-box .bg,
.service .bg {
  background-color: #f2f2f2;
}

/* Frames */
.frame {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.frame > img {
  width: 100%;
}

.frame-padding {
  background: #fff;
  padding: 4px;
}

.frame-border {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.frame-shadow {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

[class*="frame-shadow"] {
  background: #fff;
  position: relative;
}

.frame-shadow-lifted:before,
.frame-shadow-lifted:after {
  bottom: 15px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 20px;
  left: 10px;
  position: absolute;
  width: 50%;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

.frame-shadow-lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.frame-shadow-perspective:before {
  bottom: 5px;
  -webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  content: "";
  height: 35%;
  left: 80px;
  max-width: 200px;
  max-height: 50px;
  position: absolute;
  width: 50%;
  -webkit-transform: skew(50deg);
  -moz-transform: skew(50deg);
  -ms-transform: skew(50deg);
  -o-transform: skew(50deg);
  transform: skew(50deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  z-index: -1;
}

.frame-shadow-curved:before {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px/100px;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  bottom: 10px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: -1;
}

.frame-shadow-raised {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
  0 1px 4px rgba(0, 0, 0, 0.3),
  0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
  0 1px 4px rgba(0, 0, 0, 0.3),
  0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
  0 1px 4px rgba(0, 0, 0, 0.3),
  0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.rotated-box {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.rotated-right-box {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* Packages */
.package {
  background: #f7f7f7;
  margin: 0 auto 40px;
  max-width: 370px;
}

.package .title {
  line-height: 32px;
  padding: 20px 20px 15px;
}

.package .title a {
  color: #1e1e1e;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}

.package .price-box {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  padding: 0 20px 20px;
}

.package .price-box .icon {
  color: #505050;
  height: 96px;
  text-align: center;
  width: 96px;
}

.package .price-box .icon i {
  background: none;
  font-size: 50px;
  height: auto;
  line-height: 100px;
  margin: 0;
  width: auto;
}

.package .price-box .description {
  margin: 0 120px 17px 0;
}

.package .price-box .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin: 7px 0 0;
}

.package .price-box .price span {
  font-size: 12px;
}

.package .bottom-box {
  border-top-width: 1px;
  overflow: hidden;
  padding: 19px 19px 20px;
}

.package .bottom-box .more {
  color: #7f7f7f;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.package .bottom-box .more:hover {
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.package .bottom-box .more span {
  font-size: 17px;
  line-height: 12px;
  margin: 0 0 0 3px;
  vertical-align: top;
}

.package .bottom-box .rating-box {
  float: right;
}

/******************************************************************************
  Pricing
*******************************************************************************/
.pricing {
  background-color: #fff;
  margin: 0 auto 40px;
  max-width: 270px;
  position: relative;
  text-align: left;
}

.pricing * {
  position: relative;
}

.pricing:before {
  background: #f7f7f7;
  background: rgba(30, 30, 30, .06);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.pricing .title {
  line-height: 32px;
  padding: 17px 20px 21px;
}

.pricing .title a {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}

.pricing .price-box {
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  padding: 0 20px 20px;
}

.pricing .price-box .icon {
  background: #fff;
  color: #505050;
  height: 60px;
  text-align: center;
  width: 60px;
  z-index: 1;
}

.pricing .price-box .icon i,
.pricing .price-box .icon .livicon {
  background: none;
  font-size: 30px;
  height: auto;
  line-height: 52px;
  margin: 0;
  width: auto;
}

.pricing .price-box .icon .livicon {
  height: 60px !important;
}

.pricing .price-box .icon .livicon svg {
  top: 0 !important;
  vertical-align: middle;
}

.pricing .price-box .price {
  font-size: 36px;
  font-weight: bold;
  margin: 13px 0 0;
}

.pricing .price-box .price span {
  font-size: 12px;
}

.pricing .options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing .options li {
  border-top: 1px solid rgba(30, 30, 30, .1);
  color: #999;
  color: rgba(30, 30, 30, .4);
  line-height: 22px;
  padding: 13px 10px 13px 45px;
  position: relative;
}

.pricing .options li span {
  color: #1e1e1e;
  display: none;
  left: 25px;
  line-height: 1;
  position: absolute;
  top: 16px;
}

.pricing .options li.active {
  color: #1e1e1e;
}

.pricing .options li.active span {
  display: block;
}

.pricing .bottom-box {
  border-top: 1px solid rgba(30, 30, 30, .1);
  background: rgba(30, 30, 30, .05);
  overflow: hidden;
  padding: 19px 19px 20px;
}

.pricing .bottom-box .more {
  color: #7f7f7f;
  color: rgba(30, 30, 30, .7);
  display: block;
  float: left;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.pricing .bottom-box .more:hover {
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.pricing .bottom-box .more span {
  font-size: 17px;
  line-height: 12px;
  margin: 0 0 0 3px;
  vertical-align: top;
}

.pricing .bottom-box .rating-box {
  float: right;
}

.pricing .bottom-box .btn {
  font-weight: bold;
  margin: 19px 0 0;
  width: 100%;
}

.pricing.prising-info:before {
  background: rgba(1, 165, 219, .06);
}

.pricing.prising-info .title a {
  color: #01a5db;
}

.pricing.prising-info .price-box .icon {
  color: #35beeb;
  border-color: #35beeb;
}

.pricing.prising-info .options li,
.pricing.prising-info .bottom-box {
  border-color: rgba(1, 165, 219, .1);
  color: rgba(1, 165, 219, .4);
}

.pricing.prising-info .bottom-box {
  border-top: 1px solid rgba(1, 165, 219, .1);
  background: rgba(1, 165, 219, .05);
}

.pricing.prising-info .options li span,
.pricing.prising-info .bottom-box .more,
.pricing.prising-info .options li.active {
  color: #01a5db;
}

.pricing.pricing-success:before {
  background: rgba(132, 162, 0, .06);
}

.pricing.pricing-success .title a {
  color: #84a200;
}

.pricing.pricing-success .price-box .icon {
  border-color: #9ab71a;
  color: #9ab71a;
}

.pricing.pricing-success .options li,
.pricing.pricing-success .bottom-box {
  border-color: rgba(132, 162, 0, .1);
  color: rgba(132, 162, 0, .4);
}

.pricing.pricing-success .bottom-box {
  border-top: 1px solid rgba(132, 162, 0, .1);
  background: rgba(132, 162, 0, .05);
}

.pricing.pricing-success .bottom-box .more,
.pricing.pricing-success .options li span,
.pricing.pricing-success .options li.active {
  color: #84a200;
}

.pricing.pricing-error:before {
  background: rgba(212, 7, 70, .06);
}

.pricing.pricing-error .title a {
  color: #d40746;
}

.pricing.pricing-error .price-box .icon {
  border-color: #de2a61;
  color: #de2a61;
}

.pricing.pricing-error .options li,
.pricing.pricing-error .bottom-box {
  border-color: rgba(212, 7, 70, .1);
  color: rgba(212, 7, 70, .4);
}

.pricing.pricing-error .bottom-box {
  border-top: 1px solid rgba(212, 7, 70, .1);
  background: rgba(212, 7, 70, .05);
}

.pricing.pricing-error .options li span,
.pricing.pricing-error .bottom-box .more,
.pricing.pricing-error .options li.active {
  color: #d40746;
}

/* Alert */
.alert {
  background-color: #555;
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  min-height: 34px;
  margin-bottom: 22px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-shadow: none;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.alert-black {
  background-color: #1e1e1e;
}

.alert-success {
  background-color: #28a745;
}

.alert-danger {
  background-color: #f2dede;
}

.alert-info {
  background-color: #17a2b8;
}

.alert-warning {
  background-color: #ffc107;
}

.alert .alert-link {
  color: #fff;
  color: rgba(255, 255, 255, .7);
}

.alert .alert-link:hover {
  color: #fff;
}

.alert .close {
  color: #fff;
  line-height: 22px;
  position: absolute;
  right: 10px;
  top: 9px;
}

.alert .alert-icon {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

.alert .alert-icon:before {
  font-size: 34px;
}

.alert.alert-border {
  background: none;
  border: 1px solid #e1e1e1;
  color: #1e1e1e;
}

.alert.alert-border .close {
  color: #1e1e1e;
}

.alert.alert-border.alert-black {
  background: none;
  border: 1px solid #1e1e1e;
}

.alert.alert-border.alert-success {
  background: none;
  border: 1px solid #28a745;
}

.alert.alert-border.alert-danger {
  background: none;
  border: 1px solid #f2dede;
}

.alert.alert-border.alert-warning {
  background: none;
  border: 1px solid #ffc107;
}

.alert.alert-border.alert-info {
  background: none;
  border: 1px solid #17a2b8;
}

/******************************************************************************
  Steps
*******************************************************************************/
.steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.steps .step {
  border: 1px solid #e1e1e1;
  display: table-cell;
  padding: 15px;
  position: relative;
  vertical-align: middle;
}

.steps .step .step-wrapper {
  position: relative;
}

.steps .step + .step {
  border-left: 0 none;
}

.steps .step:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.steps .step:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.steps .step .step-wrapper:after,
.steps .step .step-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: -29px;
  border: 7px solid transparent;
  border-left-color: #e1e1e1;
  z-index: 1;
}

.steps .step .step-wrapper:before {
  border-left-color: #fff;
  right: -27px;
  z-index: 2;
}

.steps .step:last-child .step-wrapper:after,
.steps .step:last-child .step-wrapper:before {
  display: none;
}

.steps .step .bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  bottom: 0;
  left: 0;
  opacity: .1;
  filter: alpha(opacity=10);
  position: absolute;
  right: 0;
  top: 0;
}

.steps .step .bg-image ~ * {
  position: relative;
}

.steps .step.bg-muted {
  background: #555 !important;
}

.steps .step.bg-error {
  background: #dc3545 !important;
}

.steps .step.bg-primary {
  background: #007bff !important;
}

.steps .step.bg-warning {
  background: #ffc107 !important;
}

.steps .step.bg-danger {
  background: #dc3545 !important;
}

.steps .step.bg-info {
  background: #17a2b8 !important;
}

.steps .step.bg-success {
  background: #28a745 !important;
}

.steps .step.border-muted {
  border-color: #555 !important;
}

.steps .step.border-warning {
  border-color: #ffc107 !important;
}

.steps .step.border-error {
  border-color: #dc3545 !important;
}

.steps .step.border-info {
  border-color: #17a2b8 !important;
}

.steps .step.border-success {
  border-color: #28a745 !important;
}

.steps .step.border-grey {
  border-color: #777 !important;
}

.steps .step.border-warning .step-wrapper:after {
  border-left-color: #ffc107;
}

.steps .step.border-error .step-wrapper:after {
  border-left-color: #dc3545;
}

.steps .step.border-info .step-wrapper:after {
  border-left-color: #17a2b8;
}

.steps .step.border-success .step-wrapper:after {
  border-left-color: #28a745;
}

.steps .step.border-grey .step-wrapper:after {
  border-left-color: #777;
}

.steps .step.bg-warning .step-wrapper:before {
  border-left-color: #ffc107;
}

.steps .step.bg-error .step-wrapper:before {
  border-left-color: #dc3545;
}

.steps .step.bg-info .step-wrapper:before {
  border-left-color: #17a2b8;
}

.steps .step.bg-success .step-wrapper:before {
  border-left-color: #28a745;
}

.steps .step.bg-grey {
  background: #777;
}

.steps .step.bg-grey .step-wrapper:before {
  border-left-color: #777;
}

.steps.steps-apart {
  display: block;
  width: auto;
}

.steps.steps-apart .step {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
}

.steps.steps-apart .step:last-child .step-wrapper:after,
.steps.steps-apart .step:last-child .step-wrapper:before {
  display: block;
}

.steps.steps-apart > [class*="col-md"]:last-child > .step .step-wrapper:after,
.steps.steps-apart > [class*="col-md"]:last-child > .step .step-wrapper:before {
  display: none;
}

.steps.progress-steps {
  display: block;
}

.steps.progress-steps .step {
  background: none !important;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin: 0 0 40px;
  min-height: 185px;
  padding: 0;
}

.steps.progress-steps .step .step-wrapper {
  padding: 20px 20px 20px 260px;
  position: static;
}

.steps.progress-steps .step.step-right .step-wrapper {
  padding: 20px 260px 20px 20px;
}

.steps.progress-steps .step .number {
  background: #e1e1e1;
  bottom: 0;
  color: #fff;
  font-size: 150px;
  left: 0;
  line-height: 1.2;
  position: absolute;
  text-align: center;
  top: 0;
  width: 240px;
}

.steps.progress-steps .step.step-right .number {
  left: auto;
  right: 0;
}

.steps.progress-steps .step .step-wrapper:after,
.steps.progress-steps .step .step-wrapper:before,
.steps.progress-steps .step:last-child .number:after,
.steps.progress-steps .step:last-child .number:before {
  display: none;
}

.steps.progress-steps .step .number:after,
.steps.progress-steps .step .number:before {
  border: 7px solid transparent;
  border-top-color: #e1e1e1;
  bottom: -15px;
  content: '';
  left: 50%;
  margin-left: -7px;
  position: absolute;
  z-index: 1;
}

.steps.progress-steps .step .number:before {
  bottom: -13px;
  z-index: 2;
}

.steps.progress-steps .step.border-warning .number:after {
  border-top-color: #ffc107;
}

.steps.progress-steps .step.border-error .number:after {
  border-top-color: #dc3545;
}

.steps.progress-steps .step.border-info .number:after {
  border-top-color: #17a2b8;
}

.steps.progress-steps .step.border-success .number:after {
  border-top-color: #28a745;
}

.steps.progress-steps .step.bg-warning .number {
  background: #ffc107;
}

.steps.progress-steps .step.bg-warning .number:before {
  border-top-color: #ffc107;
}

.steps.progress-steps .step.bg-error .number {
  background: #dc3545;
}

.steps.progress-steps .step.bg-error .number:before {
  border-top-color: #dc3545;
}

.steps.progress-steps .step.bg-info .number {
  background: #17a2b8;
}

.steps.progress-steps .step.bg-info .number:before {
  border-top-color: #17a2b8;
}

.steps.progress-steps .step.bg-success .number {
  background: #28a745;
}

.steps.progress-steps .step.bg-success .number:before {
  border-top-color: #28a745;
}

.steps.progress-steps .step.border-warning .number {
  color: #ffc107;
}

.steps.progress-steps .step.border-error .number {
  color: #dc3545;
}

.steps.progress-steps .step.border-info .number {
  color: #17a2b8;
}

.steps.progress-steps .step.border-success .number {
  color: #28a745;
}

.steps.progress-steps .step.bg-warning .number,
.steps.progress-steps .step.bg-error .number,
.steps.progress-steps .step.bg-info .number,
.steps.progress-steps .step.bg-success .number {
  color: #fff;
}


/******************************************************************************
  Respond
*******************************************************************************/
.respond {
  background: none;
  border: 0 none;
}

.respond .description {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #1e1e1e;
  font-style: italic;
  font-size: 90%;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
}

.respond.bg .description {
  background-color: #a5e573;
}

.respond.bg .description.bg-info {
  background-color: #17a2b8;
}

.respond.bg .description.bg-warning {
  background-color: #ffc107;
}

.respond.bg .description.bg-primary {
  background-color: #007bff;
}

.respond.bg .description.bg-success {
  background-color: #28a745;
}

.respond.bg .description.bg-danger {
  background-color: #dc3545;
}

.respond.border .description {
  border-color: #a5e573;
  border-width: 1px;
  border-style: solid;
}

.respond.bg .description:before,
.respond.border .description:before {
  border: 10px solid transparent;
  border-top-color: #a5e573;
  bottom: -20px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
}

.respond.border .description:after {
  border: 10px solid transparent;
  border-top-color: #fff;
  bottom: -18px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
}

.respond .name {
  color: #7f7f7f;
  min-height: 22px;
  padding: 5px 5px 5px 5px;
}

.respond.white .name {
  color: #fff;
}

.respond .name .icon {
  color: #7f7f7f;
  font-size: 30px;
  margin: -5px 0 0;
}

.respond.white .name .icon {
  color: #fff;
}

.respond-carousel {
  overflow: hidden;
}

.respond-carousel .pagination {
  margin: 0;
}

.respond.respond-blockquote blockquote {
  border: none;
  margin: 0;
  padding-left: 30px;
}

.respond.respond-blockquote blockquote:before {
  content: open-quote;
  font-size: 50px;
  font-weight: bold;
  left: 16px;
  line-height: 1;
  position: absolute;
  top: 14px;
}

.respond.respond-blockquote blockquote:after {
  content: close-quote;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 0;
  margin: 0 0 -5px 0;
  vertical-align: bottom;
}

.respond.respond-blockquote.border blockquote:before,
.respond.respond-blockquote.border blockquote:after {
  color: #a5e573;
}

.respond.respond-blockquote .name .icon {
  float: left;
  height: 50px;
  margin: 0 10px 0 0;
  width: 50px;
}

.respond.respond-blockquote .name strong {
  font-size: 120%;
}

.respond .description.bg-info,
.respond .description.bg-primary,
.respond .description.bg-success,
.respond .description.bg-warning,
.respond .description.bg-danger {
  color: #fff;
}

.respond .description.bg-info:before,
.respond .description.border-info:before {
  border-top-color: #17a2b8;
}

.respond .description.bg-primary:before,
.respond .description.border-primary:before {
  border-top-color: #007bff;
}

.respond .description.bg-success:before,
.respond .description.border-success:before {
  border-top-color: #28a745;
}

.respond .description.bg-warning:before,
.respond .description.border-warning:before {
  border-top-color: #ffc107;
}

.respond .description.bg-danger:before,
.respond .description.border-danger:before {
  border-top-color: #dc3545;
}

.respond .description.bg-white:before,
.respond .description.border-white:before {
  border-top-color: #fff;
}

.respond.border .description.border-white {
  border-color: #fff;
}

.respond.respond-blockquote.border .border-info blockquote:before,
.respond.respond-blockquote.border .border-info blockquote:after {
  color: #17a2b8;
}

.respond.respond-blockquote.border .border-primary blockquote:before,
.respond.respond-blockquote.border .border-primary blockquote:after {
  color: #007bff;
}

.respond.respond-blockquote.border .border-success blockquote:before,
.respond.respond-blockquote.border .border-success blockquote:after {
  color: #28a745;
}

.respond.respond-blockquote.border .border-warning blockquote:before,
.respond.respond-blockquote.border .border-warning blockquote:after {
  color: #ffc107;
}

.respond.respond-blockquote.border .border-danger blockquote:before,
.respond.respond-blockquote.border .border-danger blockquote:after {
  color: #dc3545;
}

.respond.respond-blockquote.border .border-white blockquote:before,
.respond.respond-blockquote.border .border-white blockquote:after {
  color: #1e1e1e;
}

.respond .border-muted {
  border-color: #555 !important;
}

.respond .border-warning {
  border-color: #ffc107 !important;
}

.respond .border-error {
  border-color: #dc3545 !important;
}

.respond .border-info {
  border-color: #17a2b8 !important;
}

.respond .border-success {
  border-color: #28a745 !important;
}

.respond .border-grey {
  border-color: #777 !important;
}

/******************************************************************************
  Chart
*******************************************************************************/
.chart {
  position: relative;
  text-align: center;
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.graph text {
  overflow: hidden !important;
}

.morris-hover {
  z-index: 700;
}

/******************************************************************************
  Word Rotate
*******************************************************************************/
.word-rotate {
  background: #1e1e1e;
  display: inline-block;
  overflow: hidden;
  padding: 0 8px;
  text-align: center;
  vertical-align: top;
}
.word-rotate:not(.border) {
  color: #fff;
}
.word-rotate .words-box {
  display: inline-block;
  position: relative;
}
.word-rotate .words-box span {
  display: block;
  white-space: nowrap;
}
.word-rotate .words-box span + span {
  display: none;
}
.word-rotate.loaded .words-box span + span {
  display: block;
}
.word-rotate.border {
  background: none;
  border: 1px solid #1e1e1e;
}

/******************************************************************************
  Full Width Box
*******************************************************************************/
.full-width-box {
  overflow: hidden;
  padding: 76px 0;
  position: relative;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.full-width-box.auto-width {
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0;
}
.container .full-width-box {
  margin-left: -15px;
  margin-right: -15px;
}
.full-width-box.auto-width.loaded {
  margin-left: 0;
  margin-right: 0;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.full-width-box .fwb-bg {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
}
.full-width-box .container,
.full-width-box .page-header {
  position: relative;
}
.full-width-box .fwb-bg .overlay {
  background: #000;
  height: 100%;
  opacity: .2;
  filter: alpha(opacity=20);
  width: 100%;
}
.full-width-box .fwb-fixed {
  background-attachment: fixed;
}
.touch-device .full-width-box .fwb-fixed,
.touch-device .full-width-box .fwb-paralax {
  background-attachment: scroll;
}
.full-width-box .fwb-blur {
  background-position: center top !important;
}
.full-width-box .fwb-blur .blur-box {
  bottom: 0;
  display: block !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}
.full-width-box .fwb-blur .blur-box canvas {
  background-size: cover;
  background-attachment: fixed;
  max-width: inherit;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  vertical-align: top;
  width: 100%;
}
.full-width-box .fwb-video {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.full-width-box .fwb-video video,
.full-width-box .fwb-video iframe,
.full-width-box .fwb-video img {
  background-attachment: fixed;
  vertical-align: top;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: inherit;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

.media-upload.button{
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}
